<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>天眼</title>
	<link href="./mycss.css" type="text/css" rel="stylesheet" />
</head>
<body class="bg">
	<div class="center">
		<div class="div-logo">
			<div class="div-A">
				<p class="text">天</p>
			</div>
			<div class="div-B">
				<img src="./4.png">
			</div>
			<div class="div-A">
				<p class="text">眼</p>
			</div>
		</div>
		<div class="one left ">
			<form action="search.php" method="post">
				<div  class="two left" >
					<input type="text" name="question" >
				</div>
				<div class="login_click right" >
			    	<input class="btlogin three" type="submit" value="搜 索">
		    	</div>
		    </form>
        </div>
	</div>
</body>
</html>