<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻列表</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.css">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/echarts.min.js"></script>
    <script type="text/javascript" src="static/js/word-cloud.js"></script>
    <script type="text/javascript" src="static/js/tu.js"></script>
</head>
<body>
<div class="container-fluid">


    <div class="row-fluid">
        <div class="span12">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span10">
            <table class="table table-hover" id="table">
                <tr>
                    <th>标题</th>
                    <th>内容</th>
                    <th>评论内容</th>
                    <th>评论条数</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>

            </table>
        </div>
    </div>
    <div class="row-fluid" id="pagecheck">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    </ul>
</div>
</body>


<script>
    function add_list(news_list) {
        for (i in news_list) {
            var x = document.getElementById('table').insertRow(1)
            x.insertCell(0).innerHTML = news_list[i]['title']
            x.insertCell(1).innerHTML = news_list[i]['article']
            x.insertCell(2).innerHTML = news_list[i]['comments']
            x.insertCell(3).innerHTML = news_list[i]['comments']
            var str = "<a href='http://127.0.0.1:5000/testget?name=" + news_list[i]['title'] + "'>查看详情</a>"
            x.insertCell(4).innerHTML = str
        }
        // alert(news_list[1]['url']);
    }
</script>

<script type="text/javascript">
    function list(page) {
        var $page;
        var $number = 10;
        if (page == '') {
            $page = 1;
        } else {
            $page = page;
        }

        jQuery.ajax({
            url: '/list',
            type: 'post',
            async: true,
            data: {page: $page, number: $number},
            dataType: 'json',
            success: function (result) {
                var info_news = result;
                add_list(info_news);
            },
            error: function (result) {
                console.log('异常');
            }
        })
    }
</script>
<script>
    change_page(1)

    function change_page(page) {
        list(page);

        var x = document.getElementById('pagecheck');
        var str = '<ul class="pagination">';

        if (page > 1) {
            str = str + '<li><a onclick="change_page(' + (page - 1) + ')">&laquo;</a></li>'
        }

        for (i = 0; i < 5; i++) {

            {
                if (i==0){str = str + '<li  class="active"><a onclick=" change_page(' + (i + page) + ')">' + (i + page) + '</a></li>'}
                else{
                str = str + '<li><a onclick=" change_page(' + (i + page) + ')">' + (i + page) + '</a></li>'}
            }
        }
        str = str + '<li><a onclick=" change_page(' + (5 + page) + ')">&raquo;</a></li>\n' +
            '        </ul>'

        x.innerHTML = str;


    }
</script>
</html>